
<h4 class="text-center mt-4">
    Confirmación de la compra
</h4>

<!--
<div *ngIf="mensaje" class="alert alert-success">{{mensaje}}</div>
<div *ngIf="mensajeError" class="alert alert-danger">{{mensajeError}}</div>
-->

<form class="row" [formGroup]="formulario">    

    <app-campo-formulario [formulario]="formulario" label="Dirección de entrega" campo="direccionEntrega">
        <input id="direccionEntrega" formControlName="direccionEntrega" class="form-control"/>
    </app-campo-formulario>

    <app-campo-formulario [formulario]="formulario" label="Dirección de facturación" campo="direccionFacturacion">
        <input id="direccionFacturacion" formControlName="direccionFacturacion" class="form-control"/>
    </app-campo-formulario>

    <app-campo-formulario [formulario]="formulario" label="forma de pago" campo="formaPago">
        <input id="formaPago" formControlName="formaPago" class="form-control"/>
    </app-campo-formulario>

    <!--
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="direccionEntrega">Dirección de entrega</label>
    </div>
    <div class="col-sm-12 col-md-10 mt-1">
        <input id="direccionEntrega" formControlName="direccionEntrega" class="form-control"/>
        @if(formulario.get('direccionEntrega')?.dirty || formulario.get('direccionEntrega')?.touched) {
            <div>
                @if(formulario.get('direccionEntrega')?.hasError('required')){
                <small class="text-danger">
                    La dirección de entrega es obligatoria.
                </small>
                }
            </div>
        }         
    </div>

    <div class="col-sm-12 col-md-2 mt-1">
        <label for="direccionFacturacion">Dirección de facturacion</label>
    </div>
    <div class="col-sm-12 col-md-10 mt-1">
        <input id="direccionFacturacion" formControlName="direccionFacturacion" class="form-control"/>
        @if(formulario.get('direccionFacturacion')?.dirty || formulario.get('direccionFacturacion')?.touched) {
            <div>
                @if(formulario.get('direccionFacturacion')?.hasError('required')){
                <small class="text-danger">
                    La dirección de facturación es obligatoria.
                </small>
                }
            </div>
        }         
    </div>   
    
    <div class="col-sm-12 col-md-2 mt-1">
        <label for="formaPago">Forma de pago</label>
    </div>
    <div class="col-sm-12 col-md-10 mt-1">
        <input id="formaPago" formControlName="formaPago" class="form-control"/>
        @if(formulario.get('formaPago')?.dirty || formulario.get('formaPago')?.touched) {
            <div>
                @if(formulario.get('formaPago')?.hasError('required')){
                <small class="text-danger">
                    La forma de pago es obligatoria.
                </small>
                }
            </div>
        }         
    </div> 
    -->    

    <div class="text-center mt-4">
        <input type="button" value="Confirmar" class="btn me-1 btn-primary" (click)="comprar()" style="width:110px" />
        <input type="button" 
               value="Cancelar" 
               class="btn me-1 btn-danger" 
               style="width:110px" 
               [routerLink]="['/tienda', { outlets: { 'primary':'cesta', 'barra-derecha':null } }]" />
    </div>

</form>   


